<!--
    Authors: Tom Zielinski,
             Calvin May
    Date: 04/16/2021
    Purpose: WEBD-6201 W2021, Lab 4 Demo Site
    Description: A Partial HTML Page; This is the Contact List page. To access this,
                the user must be authenticated. Using a database it populated a list
                of contacts.
-->

<h1>Contact List</h1>

        <div class="row">
          <div class="col">

            <a href="/contact-list/add" id="addButton" class="btn btn-primary mb-1"><i class="fas fa-plus-circle"></i> Add Contact</a>

            <table class="table table-striped table-bordered table-hover">
              <thead class="table-dark">
                <tr>
                  <th scope="col" class="text-center">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Contact Number</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="contactList">

              <% for(let count = 0; count < contacts.length; count++) { %>

              <tr class="form-background">
                <th scope="row" class="text-center"><%= count + 1 %></th>
                <td><%= contacts[count].FirstName %></td>
                <td><%= contacts[count].LastName %></td>
                <td><%= contacts[count].EmailAddress %></td>
                <td><%= contacts[count].ContactNumber %></td>
                <td class="text-center"><a href="/contact-list/edit/<%= contacts[count]._id %>" class="btn btn-primary btn-sm edit"><i class="fas fa-edit fa-sm"></i> Edit</a></td>
                <td class="text-center"><a href="/contact-list/delete/<%= contacts[count]._id %>" class="btn btn-danger btn-sm delete"><i class="fas fa-trash-alt fa-sm"></i> Delete</a></td>
              </tr>

              <% } %>

              </tbody>
            </table>
          </div>
        </div>