<!--
    Authors: Tom Zielinski,
             Calvin May
    Date: 04/16/2021
    Purpose: WEBD-6201 W2021, Lab 4 Demo Site
    Description: This is the Template for all pages in the website,
                enables the separation of the Header, Content, and Footer.
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/Content/app.css">
</head>

<body id="<%= page %>" class="mainBody">
  <!-- Main Header -->
  <header>
    <%- include('./components/header'); -%>
  </header>

  <!-- Main Content -->
  <main class="container">
    <%- include('./content/' + page); -%>
  </main>

  <!-- Main Footer -->
  <footer>
    <%- include('./components/footer'); -%>
  </footer>

  <!-- Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- 
  <script src="/Scripts/contact.js"></script>
  <script src="/Scripts/user.js"></script> 
  -->
  <script src="/Scripts/app.js"></script>
</body>

</html>

